body {
	background-color: #ebdad4;
}

.container {
	background-color: #ffffff;
}

.beige {
	background-color: #ebdad4;	
}

.text3d {
  font-family: helvetica;
  text-transform: uppercase;
  color: #f7f0ee;
  text-shadow: #e7e7e7 3px 5px 0,
               #999 4px 6px 3px,
               #ccc 8px 11px 10px;
}

td, th {
	text-align: center;
}

td {
	cursor: pointer;
}